/* Header */
 body{
          font-family:'Poppins',sans-serif;
          margin:0;
          padding:0;
            
		  background-attachment:fixed;
		   background-size: cover;
        }
        
        .header-img{
         
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          width: 100%;
          position: inherit;
          
        }
        header{
          background: transparent;
          top: 20px;
          left: 0;
          right: 0;
          font-size: 16px;
          max-width:100%;
          margin:0px auto;
          padding:10px;

        
        }
        .logo{
          font-size:36px;
          color:#fff;
          height:60px;
          line-height:60px;
          padding:0 20px;
          text-align:center;
          float:left;
          box-sizing:border-box;
          font-weight:700;
        }
        .logo:hover{
           
          color:#fff;
          transition: .5s;
        }
        nav{
          float:right;
        }
        .clearfix{
          clear:both;
        }
        nav ul{
          margin:0;
          padding:15px;
          display:flex;
        }
        nav ul li{
          list-style:none;
        }

        nav ul li a{
          display:box;
          margin: 5px;
          padding:10px 20px;
          text-decoration:none;
          color:#fff;
        }
        nav ul li a:hover{
          
          color:#fff;
        }

        nav ul li .l-s{
          text-decoration:none; 
          border: 2px solid #f9be37;
           margin-left:10px; 
           padding-bottom:10px; 
           font-size:15px; 
           border-radius:30px;
        }

        .smallnavbar{
          
          overflow: auto;
        }
        @media(min-width:992px){
          .stopScrolling{
              overflow: auto !important;
              height: auto !important;
            }
        }
    
            .stopScrolling{
              overflow: hidden;
              height: 100%;
            }
        
         nav .navmenu li.active a,
        nav .navmenu li.active:hover a{
          background:#f9be37;
          color:#fff;
          transition: .5s;
        } 
        
       @media(min-width:992px){
         nav ul{
           padding:8.8px;
         }
       }
        @media(max-width:991.98px){
          .menu-toggle{
			  
            width:40px;
            height:40px;
            margin:10px;
          
            float:right;
            cursor:pointer;
            font-size:30px;
            text-align:center;
            color:#f9be37;
          }
          .menu-toggle:before{
            content:'\f0c9';
            font-family:fontAwesome;
            line-height:40px;
          }
        
			.d-n{
            display:none;
            
          }
          nav.active{
            display:block;
            width:100%;
          }
          nav.active ul{
            display:block;
           
          }
		  nav ul li{
			    margin: 0px;
          margin-bottom: 10px;
          padding: 10px;
          margin-left: -30px;
      
      }
          nav  ul li a{       
            margin:0;
           
          }
        }

/* Imgage Text */
 
@media(min-width:768px){
  .slider-text {
  margin-top:200px;
  position: absolute;
  font-size: 2rem;
  color: #fff; }
  .textRight{
    margin-left: 100px;
  }
}
@media(max-width:767.98px){
  .slider-text {
  margin-top:520px;
 
  position: absolute;
  font-size: 2rem;
  color: #fff; }
}

@media (max-width: 991.98px){
.ftco-navbar-light {
    background: #000000 !important;
    position: relative;
    top: 0;
}

 
}

@media (min-width: 992px){

  .slider-text {
  margin-top:170px;
  
  position: absolute;
  font-size: 2rem;
  color: #fff; }
}
  .slider-text p {
    font-size: 20px;
    
    line-height: 1.5;
    font-weight: 300;
    
    color: rgba(255, 255, 255, 0.8);
}
  .justify-content-start {

  justify-content: flex-start !important; }

.mb-5{
  margin-bottom: 3rem !important; }

.pb-5{
  padding-bottom: 3rem !important; }
  @media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; 
  }
  .slider-text p {
  margin-left: -50px;
}
 }
 .mb-4 {
  margin-bottom: 1rem !important;
 }
@media(max-width:991.98px){
  .slider-text{
    text-align: center;
  }
}

 /* .ftco-navbar-light .nav-item.active > a{
  
  background: #f9be37 !important;
  color: #fff;
}  */

.cart a{
    margin-right: 5px;
    color: white;
}
.cart{
    color: white;
    
    border-radius: 10%;
    background-color:transparent;
    margin-right: 15px;
}
.cart img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}




/* new Navbar */
